*, *:before, *:after {
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

html {
  margin: 0;
  padding: 0;
}

.main-container,
.cal-date,
.editable {
  height: 10rem;
  margin: 0 auto;
  width: 80%;
}

.cal-date {
  height: 10%;
  top: 0;
  left: 0;
}

.editable {
  height: 90%;
}

.main-container {
  display: block;
  max-width: 500px;
  background-color: lightgrey;
  color: black;
  position: relative;
}

.editable {
  border: 1px solid black;
  width: 100%;
}
