*, *:before, *:after {
	box-sizing: border-box;         /* Opera/IE 8+ */
} 

html {
	margin: 0;
	padding: 0;
}

.main-container,
.date,
.editable {
	height: 5rem;
	margin: 0 auto;
	width: 80%;
}

.date {
	height: 1rem
}

.editable {
	height: 4rem;
}

.main-container {
	display: block;
	max-width: 500px;
	background-color: lightgrey;
	color: black;
	position: relative;
}

.date {
	top: 0;
	left: 0;
	border-bottom: 2px solid pink;
}

.editable {
	border: 1px solid black;
	width: 100%;
}